html {
  scroll-behavior: smooth;
}

.vend-sans-text {
  font-family: "Vend Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
:root{
  --green-dark: #0b3d2e;
  --green-soft: #9dc5bb;
  --bg-soft: #f4f7f6;
  --text-dark: #1f2933;
}
body {
  margin: 0;
  max-width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: white;
  color: var(--text-dark);
  }

/****************   Nav Section **********************/
nav {
  line-height: 1.7;
	display: flex;
  background-color: var(--green-dark);
  justify-content: space-between;
  flex-direction: row;

  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0;
  padding-bottom: 0;

  color: white;
}

nav p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  letter-spacing: 6px;
  font-weight: 500; 
  padding-bottom: 1px;
}

nav div {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: center;
  font-family: 'Montserrat' serif;
}

nav a {
  margin: 0;
  gap: 5px;

  font-size: 20px;

  color: white;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}
/***********************  Footer Section   **************************/
footer {
	display: flex;
  justify-content: center;
  background-color: var(--green-soft);
  font-size: 14px;
  letter-spacing: 0.5px;
  color: var(--text-dark);
  padding: 14px 0;
}

footer a {
  color: white;
  text-decoration: none;
}

/*********** Splash Page ************************/
header {
  background-color: var(--bg-soft);
  border-bottom: 2px solid rgba(0, 0, 0, 0.104);
  width: 100%;
  margin: 0 auto;
}

.header-inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 48px 20px;

  display: flex;
  align-items: center;
  gap: 48px;
}

.header-text{
  display: flex;
  flex-direction: column;
  gap: 6px;
}
header h1 {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-size: 40px;
  color: var(--green-dark);
}

.tagline {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
}

.address {
  margin: 5px auto 0 auto;
  max-width: 1000px;
  text-align: center;

  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

header img {
  max-width: 200px;
  border-radius: 10px;
}
/************* Sections ********************/
hr {
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.15);
  margin: 0;
}

section{
  max-width: 1000px;
  margin: 28px auto;
  padding: 0 24px;
}

section h2 {
  margin: 0 0 10px 0;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.3px;
  color: var(--green-dark);
}

section h3{
  font-size: 18px;
  margin: 0 0 10px 0;
  color: var(--green-dark)
}
section dl {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

section dl dt {
  font-size: 16px;
  font-weight: 600;
}

section dl dd {
  font-size: 14px;
  margin: 0;
  opacity: 0.85;
}

section ul {
  margin: 8px 0 0 18px;
  padding: 0;
  list-style-type: square;
  font-family: 'Inter', sans-serif;
}

section a {
  color: var(--text-dark);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  text-decoration: none;
}

section a:hover {
  color: var(--green-dark);
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card img {
  width: 100%;
  height: 190px;
  object-fit: contain;
  background-color: white;
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
}

.card {
  background-color: white;
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 10px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.08);
  padding: 14px;
}

.card ul {
  margin: 8px 0 0 18px;
}

.card h3 {
  font-family: 'Playfair DIsplay', serif;
  font-size: 17px;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      flex-direction: column;
    }
    .three-col {
      grid-template-columns: 1fr;
    }
  }

/**************   Contact Page   *****************/
.one-col {
  max-width: 600px;
  margin: 24px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, textarea {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid rgba(0,0,0,0.18);
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;  
}

textarea {
   min-height: 120px;
   resize: vertical;
}